include ../../mixins/_mixin.jade		

div.col-md-4
div.col-md-4
	div.panel.panel-primary
		div.panel-heading List of passwords
		div.panel-body
			+form-row
				+fm-label("12", "search", "Please type password label")
			+form-row
				+fm-input("8", "search", "text", "searchName")
			div.with-frame.col-sm-12				
				div.list.col-sm-12(ng-repeat="item in c.list | filter:searchName")
					div.col-sm-6.with-line-height {{item.post}}
					div.col-sm-6.right 
						a.btn.btn-sm.btn-primary(ui-sref="EditPasswords({ passwordId: item.id })") Edit
						button.btn.btn-sm(type="button", ng-click="c.removeItem(item.post)") Remove

