include ../../mixins/_mixin.jade		

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1")
		+link_style("../../style/bootstrap.min.css")
		+link_style("../../style/bootstrap-responsive.min.css")
		+link_style("../../style/password.css")
		title Passwords
	body
		div.col-md-4
		div.col-md-4
			div.panel.panel-primary
				div.panel-heading Edit password
				div.panel-body
					+form-row
						+fm-label("4", "label", "Label")
						+fm-input("8", "label", "text", "c.name")
					+form-row
						+fm-label("4", "password", "Password")
						+fm-input("8", "password", "password", "c.password")				
					+form-row(style="min-height: 50px")
						+fm-label("4", "description", "Description")
						div.col-sm-12.col-md-8
							textarea.col-md-12.col-sm-12.description(type='text', rows='2', id="description", name="description", ng-model="c.description")
					+form-row
						a.btn.btn-primary(href="#/ListPasswords", ng-click="c.saveRecord()", style="margin-right: 10px") Save

						a.btn.btn-default(href="#/ListPasswords") Back