include ../../mixins/_mixin.jade

div.col-md-4
div.col-md-4(ng-controller="startPageApp as c")
	div.panel.panel-primary
		div.panel-heading Home page
		div.panel-body
			h3.center Test: passwords
			+form-row
			div.center
				a(href="#/ListPasswords").btn.btn-lg.btn-primary My passwords
			a(href="#") GitHub	